@import '../../pages/SurveyPage/style.module.scss';

.back,
.next {
    display: flex;
    @extend .submit;
    position: absolute;
    bottom: 0vh;

    &>img {
        width: 40px;
    }
}

.back {
    right: 15%;

    &>img {
        transform: rotate(90deg);
    }
}

.next {
    left: 15%;

    &>img {
        transform: rotate(-90deg);
    }

}