@import '../../pages/SurveyPage/style.module.scss';

.back,
.next {
    display: flex;
    flex-direction: row;
    gap: 3em;
    @extend .submit;
    position: absolute;
    top: 99%;

    &>img {
        width: 40px;
    }
}

.back {
    right: 15%;

    &>img {
        transform: rotate(90deg);
    }
}

.next {
    left: 15%;

    &>img {
        transform: rotate(-90deg);
    }

}